* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: white;
}

#container{
    display: flex;
    justify-content: center;
}

.bg-rosso{
    background-color: red;
    min-height: 4rem;
    width: 10rem;
}

.bg-verde{
    background-color: green;
    min-height: 4rem;
    width: 10rem;
}