* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
}

div:not(#container){
    border: 1px solid black;
}

.c-rosso{
    color: red;
    min-height: 4rem;
    width: 10rem;
}

.c-verde{
    color: green;
    min-height: 4rem;
    width: 10rem;
}

.c-giallo {
    color: rgb(255, 208, 0);
    min-height: 4rem;
    width: 10rem;
}